:root {
  --clr-team-alpine: 0, 147, 204;
  --clr-team-aston_martin: 34, 153, 113;
  --clr-team-ferrari: 232, 0, 32;
  --clr-team-haas: 182, 186, 189;
  --clr-team-mclaren: 255, 128, 0;
  --clr-team-mercedes: 39, 244, 210;
  --clr-team-rb: 102, 146, 255;
  --clr-team-red_bull: 54, 113, 198;
  --clr-team-sauber: 0, 0, 0;
  --clr-team-williams: 100, 196, 255;
}
