:root {
  --clr-team-alpine: 0, 161, 232;
  --clr-team-alpine--accessible: 0, 80, 129;

  --clr-team-aston_martin: 34, 153, 113;
  --clr-team-aston_martin--accessible: 0, 72, 44;

  --clr-team-audi: 245, 5, 55;
  --clr-team-audi--accessible: 107, 0, 21;

  --clr-team-cadillac: 144, 144, 144;
  --clr-team-cadillac--accessible: 68, 68, 68;

  --clr-team-ferrari: 237, 17, 49;
  --clr-team-ferrari--accessible: 113, 0, 6;

  --clr-team-haas: 156, 159, 162;
  --clr-team-haas--accessible: 77, 80, 82;

  --clr-team-mclaren: 244, 118, 0;
  --clr-team-mclaren--accessible: 134, 52, 0;

  --clr-team-mercedes: 0, 215, 182;
  --clr-team-mercedes--accessible: 0, 117, 96;

  --clr-team-rb: 108, 152, 255;
  --clr-team-rb--accessible: 35, 69, 171;

  --clr-team-red_bull: 71, 129, 215;
  --clr-team-red_bull--accessible: 0, 50, 130;

  --clr-team-williams: 24, 104, 219;
  --clr-team-williams--accessible: 0, 6, 129;
}
