:root {
  --clr-team-alpine: #00a1e8;
  --clr-team-alpine--accessible: #005081;

  --clr-team-aston_martin: #229971;
  --clr-team-aston_martin--accessible: #00482c;

  --clr-team-audi: #f50537;
  --clr-team-audi--accessible: #6b0015;

  --clr-team-cadiallac: #909090;
  --clr-team-cadiallac--accessible: #444444;

  --clr-team-ferrari: #ed1131;
  --clr-team-ferrari--accessible: #710006;

  --clr-team-haas: #9c9fa2;
  --clr-team-haas--accessible: #4d5052;

  --clr-team-mclaren: #f47600;
  --clr-team-mclaren--accessible: #863400;

  --clr-team-mercedes: #00d7b6;
  --clr-team-mercedes--accessible: #007560;

  --clr-team-rb: #6c98ff;
  --clr-team-rb--accessible: #2345ab;

  --clr-team-red_bull: #4781d7;
  --clr-team-red_bull--accessible: #003282;

  --clr-team-williams: #1868db;
  --clr-team-williams--accessible: #000681;
}
